<% include partials/head.ejs %>

<div class="container-sm centered pt-5 pb-5">
    <img src="https://i.imgur.com/u0njJPq.png" alt="logo" class="main-logo"/>

    <h1>Hi, <%= hacker.first_name %> <%= hacker.last_name %>!</h1>

    <% include partials/messages.ejs %>

    <h3>
        😢 You have declined your offer.
    </h3>

    <p>We are sorry to see you go. Hope to see you next year!</p>

    <p>
        If you declined your offer by accident, please shoot us an message on Facebook.
    </p>


    <hr/>

</div>

<% include partials/foot.ejs %>