<% include partials/head.ejs %>

<div class="container-sm centered pt-5 pb-5">
    <img src="https://i.imgur.com/u0njJPq.png" alt="logo" class="main-logo"/>

    <h1>Login</h1>

    <% include partials/messages.ejs %>

    <p>
        Login with your hacker account to check your acceptance details.
    </p>

    <hr/>

    <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email Address" class="form-control form-control-lg centered"/>
        <br/>
        <input type="password" name="password" placeholder="Password" class="form-control form-control-lg centered"/>
        <br/>
        <button class="btn btn-success btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
    </form>
    <br/>
    <a href="/forgot" class="btn btn-link btn-lg">Forgot Password?</a>
</div>

<% include partials/foot.ejs %>