<% if(errors.length){ %>
    <div class="alert alert-danger" role="alert">
        <%= errors %>
    </div>
<% } %>
<% if(successes.length){ %>
    <div class="alert alert-success" role="alert">
        <%= successes %>
    </div>
<% } %>